html {
  zoom: 90%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.purple {
  margin: 0 10px;
}
/* .loader {
  margin: 15rem auto;
} */
.parentloader {
  background-image: url("./images/finallogo.webp");
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .parentloader {
    background-size: 100%;
  }
}
